<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <title> Admin Dashboard</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li>
                    <a href="#">
                        <i class='bx bx-home'></i>
                        <div class="title"> Home </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-dashboard' ></i>
                        <div class="title"> Dashboard </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-book-open' ></i>
                        <div class="title"> Hall Booking </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-rupee'></i>
                        <div class="title"> Paymnet </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-calendar-event'></i>
                        <div class="title"> Anouncmnet </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-dashboard' ></i>
                        <div class="title"> Event </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="top-bar">
                <div class="search">
                    <input type="text" name="search" placeholder="search here">
                    <label for="search"><i class='bx bx-search'></i></label>
                </div>
                <i class='bx bx-bell' ></i>
                    <div class="user">
                      <img src="logo.png" alt="">
                    </div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="card-content">
                        <div class="number">120</div>
                        <div class="card-name">Total House</div>
                    </div>
                    <div class="icon-box">
                        <i class='bx bx-building-house'></i>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="number">65</div>
                        <div class="card-name">Avaiable House</div>
                    </div>
                    <div class="icon-box">
                        <i class='bx bx-building-house'></i>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="number">01</div>
                        <div class="card-name">Party Hall</div>
                    </div>
                    <div class="icon-box">
                        <i class='bx bx-party'></i>
                    </div>
                </div>
            </div>
            <div class="tables">
                <div class="House Holder Name ">
                    <h2> House Holder Name</h2>
                    <a href="#" class="btn"> View All</a>
            </div>
                <div class="Party Hall Appointmnet ">
                    <h2> Party Hall Appointmnet</h2>
                    <a href="#" class="btn"> View All</a>
            </div>
        </div>
    </div>
</div>

    
</body>
</html>