<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link href='/stylesheets/login.css' rel='stylesheet'>


</head>
<body>
       <div class="wrapper">
             <form action="/login" method="post">
                <h1>Login</h1>
                <div class="input-box">
                    <input type="text" placeholder="User_Id" name='USER_ID' required>
                    <i class='bx bx-user' ></i>                </div>
                    <div class="input-box">
                        <input type="Password" placeholder="Pasword" name="PASSWORD" required>
                        <i class='bx bx-lock-alt' ></i>
                </div>
                <div class="container">
                    <div class="content">
                        <input type="submit" class="btn" placeholder="login">
                        <!-- <a href="" class="btn">Login</a> -->
                    </div>
                </div>
                <div class="ADMIN register-link">
                    <p>Don't have an account?  <a href="/signup">Register</a></p>
                </div>

                </div>
             </form>
       </div>
</body>
</html>